<form method="post" action="{{ path('bibliothecque_delete', {'id': bibliothecque.id}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer ce bibliothèque ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ bibliothecque.id) }}">
    <button class="btn btn-danger" id="btnSuppr">Supprimer</button>
</form>
