{% extends 'base.html.twig' %}

{% block title %}Éditer une Bibliothèque{% endblock %}

{% block body %}
    <main>
        <h1>Éditer une Bibliothèque</h1>

        {% for message in app.flashes('SuccessBiblio') %}
            <div class="flash-success">
                {{ message }}
            </div>
        {% endfor %}

        <div>
            <div class="container-fluid formEntité2" id="biblioForm">
                {{ include('bibliothecque/_form.html.twig') }}
            </div>
        </div>
        <div class="row">
            <div id="divAjout">
                <button type="submit" class="btn btn-success" form="formBibilio">
                    Modifier la bibliothèque
                </button>
                <a href="{{ path('bibliothecque_index') }}"
                   class="btn btn-secondary" id="btnRetour">
                    Revenir à la liste
                </a>
            </div>
        </div>
    </main>
{% endblock %}
