{% extends 'base.html.twig' %}

{% block title %}Suppression d'un livre{% endblock %}

{% block body %}
    <main>
        <h1>Suppression d'un livre</h1>

        <h2>Appuyer sur le bouton Supprimer pour supprimer le livre choisi : {{livre.titreLivre}}</h2>

        {{ include('livre/_delete_form.html.twig') }}

        <div>
            <a href="{{ path('livre_index') }}"
               class="btn btn-secondary" id="btnRetourSuppr">
                Revenir à la liste
            </a>
        </div>
    </main>

{% endblock %}
