{% extends 'base.html.twig' %}

{% block title %}Editer un Livre{% endblock %}

{% block body %}

    <main>
        <h1>Editer un livre</h1>

        {% for message in app.flashes('SuccessBiblio') %}
            <div class="flash-success">
                {{ message }}
            </div>
        {% endfor %}

        <div>
            <div class="container-fluid formEntité2" id="livreForm">
                {{ include('livre/_form.html.twig') }}
            </div>
        </div>
        <div class="row">
            <div id="divAjout">
                <button type="submit" class="btn btn-success" form="formLivre">
                    Modifier le livre
                </button>
                <a href="{{ path('livre_index') }}"
                   class="btn btn-secondary" id="btnRetour">
                    Revenir à la liste
                </a>
            </div>
        </div>
    </main>
{% endblock %}
